@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&family=Pacifico&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:root {
  font-size: 62.5%;
  --clr-dark-grey: hsl(0, 0%, 27%);
  --clr-light-grey: hsl(0, 0%, 80%);
  --clr-light-grey-2: hsl(0, 0%, 87%);
  --clr-light-grey-3: hsl(0, 0%, 93%);
  --clr-twitter: hsl(203, 89%, 53%);
  --fnt-fam-default: "Merriweather Sans", sans-serif;
  --fnt-fam-header: "Pacifico", cursive;
  --fnt-size-default: 1.6rem;
  --fnt-size-header-main: 4.5rem;
  --fnt-size-header-sub: 2.5rem;
  --line-height-default: 1.8;
  --pd-head: 3% 10%;
  --pd-main: 5% 10%;
  --pd-foot: 2% 10%;
}

body {
  font-family: var(--fnt-fam-default);
  font-size: var(--fnt-size-default);
  line-height: var(--line-height-default);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.link--twitter {
  color: var(--clr-twitter);
}
.link--twitter:hover {
  text-decoration: underline;
}
.link--footer {
  color: var(--clr-light-grey-3);
}
.link--footer:hover {
  text-decoration: underline;
}

.header-area__heading {
  font-family: var(--fnt-fam-header);
  font-size: var(--fnt-size-header-main);
  color: var(--clr-dark-grey);
}

.header-area {
  text-align: center;
  background: var(--clr-light-grey-2);
  width: 100%;
  padding: var(--pd-head);
}

.sketch-area {
  display: grid;
  place-items: center;
  grid-template-areas: "controls grid";
  gap: 4rem;
  padding: var(--pd-main);
  margin-block: auto;
}
.sketch-area__grid {
  grid-area: grid;
  display: grid;
  border: 3px solid var(--clr-dark-grey);
  border-radius: 2rem;
  overflow: hidden;
  background-color: var(--clr-light-grey-3);
  width: 60rem;
  height: 60rem;
  cursor: pointer;
}

.footer-area {
  text-align: center;
  color: var(--clr-light-grey);
  background: var(--clr-dark-grey);
  padding: var(--pd-foot);
}

.box {
  border: 1px solid var(--clr-light-grey-2);
}

.sketch-area-controls {
  grid-area: "controls";
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  align-content: center;
  border: 3px solid var(--clr-dark-grey);
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  width: max-content;
}
.sketch-area-controls > div:not(:last-child) {
  border-bottom: 2px solid var(--clr-light-grey-3);
  padding-bottom: 1rem;
}
.sketch-area-controls__text {
  padding-bottom: 1rem;
}
.sketch-area-controls__colors-picker {
  width: 7rem;
  height: 4rem;
}
.sketch-area-controls__grid-size {
  display: grid;
  gap: 1rem;
}
.sketch-area-controls__colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  background: var(--clr-twitter);
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10rem;
  color: var(--clr-light-grey-3);
  display: block;
  width: 100%;
}

#randomise {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--clr-twitter);
  appearance: checkbox;
}/*# sourceMappingURL=main.css.map */