@use "../abstracts/" as a;

:root {
  font-size: 62.5%;

  // Colours

  --clr-dark-grey: hsl(0, 0%, 27%);
  --clr-light-grey: hsl(0, 0%, 80%);
  --clr-light-grey-2: hsl(0, 0%, 87%);
  --clr-light-grey-3: hsl(0, 0%, 93%);
  --clr-pink: hsl(330, 100%, 71%);
  --clr-lightblue: hsl(195, 53%, 79%);

  // Brand Colours

  --clr-blue: hsl(203, 89%, 53%); // twitter

  // Font

  --fnt-fam-default: "Merriweather Sans", sans-serif;
  --fnt-fam-header: "Pacifico", cursive;
  --fnt-size-default: 1.6rem;
  --fnt-size-header-main: 6.5rem;
  --fnt-size-header-sub: 2.5rem;
  --line-height-default: 1.8;

  // Padding

  --pd-head: 2% 10%;
  --pd-main: 5% 10%;
  --pd-foot: 2% 10%;
}

body {
  font-family: var(--fnt-fam-default);
  font-size: var(--fnt-size-default);
  line-height: var(--line-height-default);
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "head head head head head head"
    "nav main main main main main"
    "foot foot foot foot foot foot";
  // flex-direction: column;
}

.link {
  &--twitter {
    color: var(--clr-blue);
    &:hover {
      text-decoration: underline;
    }
  }
  &--footer {
    color: var(--clr-light-grey-3);
    &:hover {
      text-decoration: underline;
    }
  }
}
