@use "base";
@use "../abstracts/" as a;

.header-area {
  text-align: center;
  background: var(--clr-light-grey-2);
  width: 100%;
  padding: var(--pd-head);
}

.sketch-area {
  @include a.center();
  grid-template-areas: "controls grid";
  gap: 4rem;
  padding: var(--pd-main);
  margin-block: auto;
  &__grid {
    grid-area: grid;
    display: grid;
    border: 3px solid var(--clr-dark-grey);
    border-radius: 2rem;
    overflow: hidden;
    background-color: var(--clr-light-grey-3);
    width: 60rem;
    height: 60rem;
  }
}

.footer-area {
  text-align: center;
  color: var(--clr-light-grey);
  background: var(--clr-dark-grey);
  padding: var(--pd-foot);
}

.box {
  border: 1px solid var(--clr-light-grey-2);
}

.sketch-area-controls {
  grid-area: "controls";
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  align-content: center;
  border: 3px solid var(--clr-dark-grey);
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  width: max-content;

  &__text {
    padding-bottom: 1rem;
  }

  &__colors-picker {
    width: 7rem;
    height: 4rem;
  }

  &__grid-size {
    display: grid;
    gap: 1rem;
  }

  &__colors {
    border-top: 2px solid var(--clr-light-grey-3);
    border-bottom: 2px solid var(--clr-light-grey-3);
  }
}

.btn {
  background: var(--clr-twitter);
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10rem;
  color: var(--clr-light-grey-3);
  display: block;
  width: 100%;
}
